body {
    box-sizing: border-box;
    margin: 2% 1%;
}
.form-inline .form-control {
    width: 15em;
}
.main-font {
    font-family: 'Rock Salt', cursive;
}
.navbar-brand {
    font-family: 'Rock Salt', cursive;
}
.register-color{
    background-color: rgb(125,191,218);
}
.ads-color {
    background-color: rgb(132,147,225);
}
.card {
    border: none;
    /*text-align: center;*/
    min-width: 150px !important;
    max-width: 150px !important;
}
.main-header{
    border-radius: 10px/30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    margin-top: -1.5rem;
}
/*.to-do {*/
    /*max-width: 200px;*/
    /*padding-left: 0;*/
/*}*/

.list-group-item {
    border: 0 none;
}

.dropdown-menu {
    background-color: white !important;
}

img.opacity {
    opacity: 0.2 !important;
}

img.opacity:hover {
    opacity: 0.9 !important;
}

.blue {
    background-image: linear-gradient(90deg,#00f0d1,#a966ee),linear-gradient(90deg,#00f0d1,#a966ee);
    padding: 10px;
}

/*.tinted-image {*/
/*background-image: linear-gradient(*/
/*rgba(153, 208, 237, .6),*/
/*rgba(153, 208, 237, .9)*/
/*),*/
/*url(/imgs/pattern.jpg);*/

/*padding: 10px;*/
/*}*/


.logo {
    width: 5em !important;
}

.logo-minus {
    height: 5em !important;
}

.flex-fill {
    text-align: center;
}

.icon-size {
    width: 2em;
}

#main:before {
    background: rgba(224, 224, 224, 0.75);
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}



/*.panel-heading[_ngcontent-c4]:before {*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*border-left: 2px solid #00f0d1;*/
    /*border-right: 2px solid #a966ee;*/
    /*background-size: 100% 2px;*/
    /*background-position: 0 0,0 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-image: linear-gradient(90deg,#00f0d1,#a966ee),linear-gradient(90deg,#00f0d1,#a966ee);*/
    /*content: '';*/
/*}*/


.banner_part_five {
    background-attachment: fixed;
    background-position: center !important;
    background-size: cover !important;
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

#particles-js {
    height: 50%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-image: url(/imgs/header.png);*/
}

.move-center {
    padding-right: 100px;
}

/*.card-body {*/
    /*width: 150%;*/
/*}*/

/*#particles-js {*/
    /*top: 250px;*/
    /*margin-top: -250px;*/
/*}*/

.navbar {
    z-index: 1;
}

